<!doctype html>
<html lang="zh">
<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 图片在 /src/assets/ 下-->
    <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.ico" />
    <title>Sample Umijs Startup Project</title>
    <script src="<%= context.config.publicPath %>audio.js"></script>
</head>
<body>
<div id="root"></div>

</body>
</html>
